# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin compiler output directory
.kotlin

# Ignore IntelliJ IDEA project settings directory
.idea

# Ignore input files (request by adventofcode maintainer)
src/test/**/*.txt
